services:
  coordinator:
    build:
      context: .
      dockerfile: coordinator-service/Dockerfile
    image: distributed-storage-coordinator:latest
    container_name: coordinator
    restart: unless-stopped
    environment:
      GRPC_SERVER_PORT: 50060
      COORDINATOR_STORAGE_PATH: /app/data/metadata.json
    volumes:
      - coordinator-data:/app/data
    ports:
      - "50060:50060"
    healthcheck:
      test: [ "CMD", "pgrep", "java" ]
      interval: 10s
      timeout: 5s
      retries: 5

  datanode1:
    build:
      context: .
      dockerfile: datanode-service/Dockerfile
    image: distributed-storage-datanode:latest
    container_name: datanode1
    restart: unless-stopped
    environment:
      GRPC_SERVER_PORT: 50051
      DATANODE_STORAGE_PATH: /app/data
      COORDINATOR_HOST: coordinator
      COORDINATOR_PORT: 50060
    volumes:
      - datanode1-data:/app/data
    ports:
      - "50051:50051"
    depends_on:
      coordinator:
        condition: service_healthy
    healthcheck:
      test: [ "CMD", "pgrep", "java" ]
      interval: 10s
      timeout: 5s
      retries: 5

  datanode2:
    build:
      context: .
      dockerfile: datanode-service/Dockerfile
    image: distributed-storage-datanode:latest
    container_name: datanode2
    restart: unless-stopped
    environment:
      GRPC_SERVER_PORT: 50051
      DATANODE_STORAGE_PATH: /app/data
      COORDINATOR_HOST: coordinator
      COORDINATOR_PORT: 50060
    volumes:
      - datanode2-data:/app/data
    ports:
      - "50052:50051"
    depends_on:
      coordinator:
        condition: service_healthy
    healthcheck:
      test: [ "CMD", "pgrep", "java" ]
      interval: 10s
      timeout: 5s
      retries: 5

  client:
    build:
      context: .
      dockerfile: client-cli/Dockerfile
    image: distributed-storage-client:latest
    container_name: storage-client
    stdin_open: true
    tty: true
    restart: "no"
    environment:
      COORDINATOR_HOST: coordinator
      COORDINATOR_PORT: 50060
    depends_on:
      coordinator:
        condition: service_healthy
      datanode1:
        condition: service_healthy
    volumes:
      - ./client-data:/app/client-data
    entrypoint: [ "sh", "-c", "sleep infinity" ]

volumes:
  coordinator-data:
  datanode1-data:
  datanode2-data: